asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.10
dj-database-url==0.5.0
Django==4.0.1
django-heroku==0.3.1
django-mathfilters==1.0.0
gunicorn==20.1.0
idna==3.3
Pillow==9.0.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
razorpay==1.2.0
requests==2.27.1
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.8
waitress==2.0.0
whitenoise==5.3.0
