{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row" >
    <div class="col-lg-6">
        <img class="thumbnail" src="#" alt="..." id="modal-pic" width="530px" height="360px" max-width="100%">
        <div class="box-element product">
            <h3 id="modal-title" style="word-break: break-all;"><strong>Product Name</strong></h3>
            <hr>
            
        </div>
        
    </div>
    <!-- id="modal-price-description" -->
    <div class="col-lg-6">
        <div class="box-element product" id="modal-pic" >

            <h4 id="modal-price"><strong>Price</strong></h4>
            <hr>
            <h4>About this item:</h4>
            <p id="modal-p"></p>
            <button class="btn btn-outline-success view-product" id="close">Close</button>
        </div>
    </div>
</div>
{% endblock content %}